{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Login {% endblock %}
{% load i18n staticfiles %}
{% block body %}

            <form method="post" action="." class="form-signin" role="form">{% csrf_token %}
                <h2 class="form-signin-heading">{% trans "Sign in" %}</h2>
                {% if form.errors %}
                    <div class="alert alert-danger">{% trans "User or password don't match." %}</div>
                {% endif %}

                {% for field in form %}
                    {{ field }}
                {% endfor %}

                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
                <br>{% trans "Don't have an account?" %} <a href="{% url 'register' %}">{% trans "Sign up here" %}</a>
            </form>

{% endblock %}